In [1]:
# Import Dependencies
import psycopg2
from config import config
import pandas as pd

In [2]:
#Create link to database
def connect():
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # read connection parameters
        params = config()

        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params)
		
        # create a cursor
        cur = conn.cursor()
        
	# execute a statement
        print('PostgreSQL database version:')
        cur.execute('SELECT version()')

        # display the PostgreSQL database server version
        db_version = cur.fetchone()
        print(db_version)
       
	# close the communication with the PostgreSQL
        cur.close()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()
            print('Database connection closed.')


if __name__ == '__main__':
    connect()
    
    #https://www.postgresqltutorial.com/postgresql-python/connect/

Connecting to the PostgreSQL database...
PostgreSQL database version:
('PostgreSQL 13.3 (Ubuntu 13.3-1.pgdg20.04+1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0, 64-bit',)
Database connection closed.

In [28]:
def get_Data():
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
         # read connection parameters
        params = config()

        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params)
		
        # create a cursor
        cur = conn.cursor()
        
	# execute a statement
        print('PostgreSQL database query:')
        sql = "SELECT gm.rank, gm.na_sales, gm.eu_sales, gm.jp_sales, " \
                "p.platform, " \
                "g.genre " \
                "FROM game gm " \
                "LEFT JOIN platform p " \
                "ON gm.platform_id=p.id " \
                "LEFT JOIN genre g " \
                "ON gm.genre_id=g.id"
            
        query = pd.read_sql_query(sql, conn)
        
        df = pd.DataFrame(query)
        return df
    # close the communication with the PostgreSQL
        cur.close()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()
            print('Database connection closed.')


if __name__ == '__main__':
    get_Data()

Connecting to the PostgreSQL database...
PostgreSQL database query:
Database connection closed.

In [29]:
df = get_Data()
df

Connecting to the PostgreSQL database...
PostgreSQL database query:
Database connection closed.

      rank  na_sales  eu_sales  jp_sales platform         genre
0        1     41.49     29.02      3.77      Wii        Sports
1        2     29.08      3.58      6.81      NES      Platform
2        3     15.85     12.88      3.79      Wii        Racing
3        4     15.75     11.01      3.28      Wii        Sports
4        5     11.27      8.89     10.22       GB  Role-Playing
...    ...       ...       ...       ...      ...           ...
9795  9797      0.11      0.00      0.00      PSP        Racing
9796  9798      0.00      0.00      0.12      GEN     Adventure
9797  9799      0.01      0.00      0.11      PS3  Role-Playing
9798  9800      0.07      0.05      0.00       PS      Platform
9799  9801      0.11      0.00      0.00       DS        Puzzle

[9800 rows x 6 columns]

In [34]:
# Reorder and Rename Columns
games_df = df.reindex(columns= ['rank', 'platform', 'genre', 'na_sales', 'eu_sales', 'jp_sales'])
games_df.columns = ['Rank', 'Platform', 'Genre', 'NA_Sales', 'EU_Sales', 'JP_Sales']
games_df.set_index("Rank", inplace=True)
games_df

     Platform         Genre  NA_Sales  EU_Sales  JP_Sales
Rank
1         Wii        Sports     41.49     29.02      3.77
2         NES      Platform     29.08      3.58      6.81
3         Wii        Racing     15.85     12.88      3.79
4         Wii        Sports     15.75     11.01      3.28
5          GB  Role-Playing     11.27      8.89     10.22
...       ...           ...       ...       ...       ...
9797      PSP        Racing      0.11      0.00      0.00
9798      GEN     Adventure      0.00      0.00      0.12
9799      PS3  Role-Playing      0.01      0.00      0.11
9800       PS      Platform      0.07      0.05      0.00
9801       DS        Puzzle      0.11      0.00      0.00

[9800 rows x 5 columns]